* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f5f8;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.booklist {
  display: grid;
  gap: 2rem;
  margin: 5rem auto;
  max-width: 1170px;
  width: 90vw;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.book h1 {
  margin-top: .5rem;
}
